.App {
  margin-top: 40px;
  text-align: center;
}

.table-div{
  margin-top: 20px;
}

img{
  width: 400px;
}

table{
  
  margin: auto;
  border: 1px solid salmon;
}

thead{
  font-weight: 600;
}

table td {
  border: 1px solid salmon;
  width: 100px;
  height: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
